<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="images/manitora.png" alt="" width="60" height="31">
    </a>
    <a class="navbar-brand manitora" href="/">MANITora</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " href="discussion">Disussion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="ask">Ask a question</a>
        </li>
      </ul>

    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item ">
          <a href="signup">
            <button class="btn btn-outline-warning navbtn shadow-none" type="submit">Signup</button>
          </a>

        </li>
        <li class="nav-item ">
          <a href="login">
            <button class="btn btn-outline-warning navbtn shadow-none" type="submit">Login</button>
          </a>

        </li>
      </ul>
    </div>
  </div>
</nav>
