<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class=" container-fluid network-image" style=" padding:7% 15% 0% 15%; margin:0;">
  <img src="images/1.PNG" class="network" alt="" style=" width : 15%; height:auto;">
  <p class="des-head" style=" font-size:2.5rem; ">MANITora</p>
</div>


<div class="container-fluid " style=" padding:2% 20% 2% 20% ";>
<form class="" action="/ask" method="post">
  <div class="form-group" style="margin-bottom: 0.5rem;">
     <label for="exampleFormControlTextarea1" class="ask">Have a Doubt? We are Here</label>
     <textarea class="form-control" placeholder="Type your Question here" name="quest" id="exampleFormControlTextarea1" rows="5" ></textarea>
  </div>
  <button type="submit" class="btn btn-warning askbtn shadow-none">Ask</button>

</form>
</div>

<%- include('partials/footer') %>
